<html>
<body bgcolor="#ECECEC">

<table align="center" width="700" cellpadding="0" cellspacing="0" style="margin:0 auto;">
<tr>
  <td align="center" style="padding: 0;">
    <a style="" href="http://www.lexfutures.com" title="LEXFutures"><img border="0" src="https://www.lexfutures.com/images/logo_large.png" alt="LEXFutures" width="400"></a>
  </td>
</tr>

<tr>
  <td align="left" style="line-height: 20px; font-family:'Helvetica','Arial',sans-serif; font-size: 14px; padding-top: 25px; padding-left: 40px; padding-right:40px;">
    <p style="color:#4d4d4d; line-height: 20px; font-family:'Helvetica','Arial',sans-serif; font-size: 14px; margin: 0 0 15px 0;">
        Johannesburg is closer to Harare than it is to Cape Town, but it's been eight years since Zimbabwe last played an ODI in South Africa. The cricketing gap is far wider than the geographical one between these two teams, and the financial realities of modern cricket add a further constraint. A series against Zimbabwe doesn't make much money or fill grounds, and so the limited-overs games over the next two weeks will be played on some of South Africa's further-flung ovals.

Starting with Kimberley, a city built on old mining money in the parched north-west. Zimbabwe coach Lalchand Rajput thinks his team are diamonds in the rough, but it is South Africa who will likely shine on the day. Ahead of Zimbabwe in every discipline, each member of their squad will be eyeing a place in South Africa's World Cup touring party. South Africa only play 16 ODIs between now and their World Cup opener in May. Every match counts as a chance to make a good impression, and with Faf du Plessis and Hashim Amla injured, and Quinton de Kock and David Miller rested, these ODIs offer a particularly crucial opportunity to South Africa's batting hopefuls. No quarter will be given.

There will be no let-up with the ball, either. The pitch in Kimberley tends to be as flat and hard as the desiccated country around it, but the home attack bristles with pedigree and before the series, South Africa coach Ottis Gibson joked about his bowlers possibly doing too good a job to allow the batsmen to be tested in doing theirs. Kagiso Rabada, Dale Steyn and Lungi Ngidi present a fearsome prospect, and if the Zimbabweans can somehow sustain the new-ball barrage, the likes of Imran Tahir and Tabraiz Shamsi await them with the old.

Zimbabwe, at least, will not have to face all five in the same game, and there's a healthy competition for limited spaces in South Africa's attack. Ngidi seemed to develop particularly quickly during South Africa's tour of Sri Lanka, taking 10 wickets at 20.10, and the returning Steyn is relishing the competitive dynamic in South Africa's fast bowling stable.

Their top order is no less hungry. Dean Elgar has made no secret of his one-day ambitions, and a modest Zimbabwean attack could make his audition a smooth one. Gibson sees Elgar as a like-for-like replacement for Amla, and is also eager to see if Christiaan Jonker can transfer his T20 skills as Miller has. Heinrich Klaasen will be hoping he can complicate de Kock's eventual return, while Reeza Hendricks has the opportunity to show that his debut hundred against Sri Lanka was no fluke. Khaya Zondo, too, scored a brilliant century against Australia A a month ago and is pushing for a recall.
    </p>
  </td>
</tr>

<tr>
  <td align="left" style="line-height: 26px; font-family:'Helvetica','Arial',sans-serif; font-size: 12px;">
    <p style="color:#4d4d4d; line-height: 20px; font-family:'Helvetica','Arial',sans-serif; font-size: 14px; margin: 0 0 15px 0;"><hr style="border:0; border-top:2px solid #c7c7c7;"></p>
    
</tr>
</table>

</body>
</html>
