{% extends 'AppBundle::frontbase.html.twig' %}
{% block maincontent %}
<!-- header start -->
<header id="header" class="header-wrapper home-parallax home-fade">
    <div class="header-overlay"></div>
    <div class="header-wrapper-inner">
        <div class="container">
            
            <div class="row">
                <div class="col-xs-12 text-left">
                    
                    <img src="/images/logo-lg.png" class="logo-img img-responsive">
                    <div class="separator"></div>
                    <div class="welcome-speech">
                        {# LexFutures offers consulting and prediction services relating to legal risk events. #}
                        <h1>
                        LexFutures provides client-customized legal data analytics services. 
                        <br />
                        <small>
                            For more information, contact us at <a href="mailto:subscribe@lexfutures.com">subscribe@lexfutures.com</a>
                        </small>
                        </h1>
                        
                    </div>
                    
                </div>
            </div>
            
            {#
            <div class="welcome-speech">
                <h1>Welcome to our avada agency</h1>
                <p>Everything you need to have in order to build a stunning website</p>
                
                <a href="#" class="btn btn-white">
                    Our Works
                </a>
                
            </div><!-- /.intro -->
            #}
        </div><!-- /.container -->

    </div><!-- /.header-wrapper-inner -->
</header>
<!-- /#header -->
{% endblock maincontent %}
{% block footernavigation %}    
{% endblock footernavigation %}