{% extends 'AppBundle::frontbase.html.twig' %}
{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 tmargin20">
            <h1>Research Study Terms and Conditions</h1>
        </div>
    </div>
        
    <div class="row padding20">
        
        <div class="col-xs-12 text-center tmargin70">
            <img src="/images/Untitled-1.png" class="img-responsive center-block" alt="logo">
            <br/>
            A LexEikon company
        </div>
    </div>
</div>

{% endblock maincontent %}
{% block footernavigation %}    
{% endblock footernavigation %}