{% extends 'AppBundle::frontbase.html.twig' %}
{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 tmargin20">
            <h1>{{pagetitle}}</h1>
        </div>
    </div>
        
    <div class="row ">
        <div class="col-xs-12 f-black lex-justify">
            
            <h3>Introduction</h3>
            
            <p>LexFutures (“the Organiser”), is the host and organizer of the Apex Court Prediction League (“the League”). LexFutures is a division of LexEikon Limited and is represented by Infology Pty Ltd of 3rd Floor, Block B, the Woodstock Exchange, 66 Albert Road, Cape Town. </p>
            <p>Below are the official Prediction League Rules (“the Rules”).</p>
            <p>The Rules should be read in conjunction with the LexFutures’ Website Terms of Use and Privacy Policy. Acceptance of these Rules shall be deemed to indicate and constitute acceptance of the LexFutures&rsquo; <a href="{{path("terms")}}">Website Terms of Use</a> and <a href="{{path("privacy-policy")}}">Privacy Policy</a>.</p>
            <p>No purchase or subscription is necessary to enter the LexFutures Apex Court Prediction League.</p>

            <h3>Rules</h3>

            <p>The League opens 16 June 2019 and closes for prediction on 31 December 2019 (“the 2019 Season”). You may enter the League at any time during the 2019 Season and stand a chance to win prizes throughout the Season.</p>
            <p>Points are awarded to registered entrants based on correctly predicting the outcomes of appeal cases.  </p>
            <p>The Organiser reserves the right to cancel the League at any time. You must be 18 years of age or older to win a prize. Employees, officers, directors of LexFutures or any of its sponsors, their respective parent companies, affiliates, subsidiaries and the members of their immediate family (parents, siblings, children & spouse) regardless of where they live or those persons living in the same household of such employees/officers/directors, whether related or not, are not permitted to win prizes.</p>
            <p>Participants must register and submit their predictions online at <a href="https://lexfutures.com/">http://lexfutures.com/</a> (“the Site”). No other form of entry will be accepted.</p>
            <p>Participants will be able to make predictions on how each individual Judge will vote on any case that comes before a court being covered by LexFutures provided that they make their prediction prior to midnight on the day on which the judgment is handed down ("Court").</p>
            <p>Participants will be required to indicate on the Site whether a particular Judge will vote to UPHOLD or DISMISS an appeal or to GRANT or DISMISS another type of application.</p>
            <p>LexFutures may, in its sole and unfettered discretion, determine to allow participants to make or revise their predictions on a matter at any time prior to a judgment being delivered in which event LexFutures will be the sole and final arbiter of whether a judgment has been delivered.</p>
            
            <h3>League Categories</h3>
            
            <p>There are four League Categories, i.e. Law Professionals, Students, Academics and Open. Participants will automatically be registered in a particular League Category when registering according to the information provided. Participants who are not Law Professionals, Students or Academics will automatically be registered in the Open category. Participants must provide accurate information when registering. Breach of this requirement will render a participant liable to disqualification and the Organiser reserves the right to request supporting evidence verifying a participant’s status prior to awarding any prizes. Each league has its own prizes and the winner of each Prediction League Category will be the persons with the most Prediction League points on 31 December 2019 on the Prediction League Leader Board accruing from cases heard on or before 31 December 2019.</p>
            
            <h3>Cases</h3>
            
            <p>The cases published on the Site will be divided into two categories. Namely:</p>
            <ul>
                <li>- <strong>A Prediction League Case</strong><li>
                <li>- <strong>A General Case</strong></li>
            </ul>
	
            <p>Correct predictions on any upcoming cases (i.e. all General Cases, including Prediction League Cases) published on the LexFutures.com site earn points towards <u>an Overall Standings Table</u>. Prizes will not be awarded to entrants accruing the most points on the Overall Standings Table &mdash; fame, glory and considerable bragging rights will be their only acclaim.</p>
            <p>Correct predictions on specially identified Prediction League Cases will also earn points towards the Overall Standings table but will also earn points towards the <u>Prediction League Leader Board</u>. Prizes will be awarded to entrants scoring the highest average number of points per predicted League Case provided a minimum of at least 5 League Case predictions having been submitted.</p>
            <p>LexFutures reserves the right to determine and select what cases will be nominated as Prediction League Cases and will indicate clearly on its website which cases count towards the League standings.</p>

            
            <h3>Points</h3>
            
            <p>Each correct prediction for a Judge’s vote (UPHOLD/GRANT or DISMISS) is worth 10 points. Correctly predicting the overall outcome of the case (UPHOLD/GRANT or DISMISS) is also worth 10 points. For example, where 9 Judges hear a case, correctly predicting the overall case outcome as well as each individual Judge vote will earn a total of 100 points out of a maximum total of 100, whereas predicting the overall outcome but only correctly predicting 5 Judges correctly would earn a total of 60 points.</p>
            
            <h3>Prizes</h3>
            
            <p>Prizes will be awarded to participants based on the highest average number of points scored during the League on Prediction League Cases. Should two or more participants score the same number of average points per case, the participants will split the prizes for that level and the next levels equalling the number of tying participants. (Example: 3 people tie for the top prize – the 1st, 2nd and 3rd prizes will be added together and split between the top participants). </p>
            <p>Participants will be notified within 30 days of end of the League by email to the address associated with their account. Winners will have 30 days from notification to claim their prize and provide required documentation. Winners who do not respond to notification within 30 days forfeit their prize. Prizes will be awarded within 75 days of final date of the League unless the nature of the prize expressly anticipates a longer award or redemption period.</p>
            <p>Prize winning participants will be invited to consent to publication of their names, results and photographs in leading law magazines and websites but may elect to opt out of such publications should they prefer.</p>
            <p>Prizes will be awarded as follows: <strong>TO BE CONFIRMED</strong></p>

            <table width="100%" class="table-bordered rules" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>League Category</th>
                        <th>1<sup>st</sup> Prize</th>
                        <th>2<sup>nd</sup> Prize</th>
                        <th>3<sup>rd</sup> Prize</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Students</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Law Professionals</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Academics</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Open</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
            {#
            <table width="100%" class="table-bordered rules" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>League Category</th>
                        <th>1<sup>st</sup> Prize</th>
                        <th>2<sup>nd</sup> Prize</th>
                        <th>3<sup>rd</sup> Prize</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="top">Students</td>
                        <td valign="top">
                            LexFutures Trophy<br/>
                            R5 000 Cash Prize<br/>
                            R2 500 Juta Law Content Vouchers

                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                            <br/>
                            R1 500 Juta Law Content Vouchers
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                            <br/>
                            R1 000 Juta Law Content Vouchers
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Lawyers
                        </td>
                        <td valign="top">
                            LexFutures Trophy
                            <br/>
                            R5 000 Law@Work Course Voucher (excludes visas, travel, accommodation, subsistence and allowances)
                            <br/>
                            R2 500 Juta Law Content Vouchers
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                            <br/>
                            R1 500 Juta Law Content Vouchers
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                            <br/>
                            R1 000 Juta Law Content Vouchers
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                        Academics
                        </td>
                        <td valign="top">
                            LexFutures Trophy
                            <br>
                            R5 000 Law@Work Course Voucher (excludes visas, travel, accommodation, subsistence and allowances)
                            <br/>
                            R2 500 Juta Law Content Vouchers
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                            <br/>
                            R1 500 Juta Law Content Vouchers
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                            <br/>
                            R1 000 Juta Law Content Vouchers
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                        Open
                        </td>
                        <td valign="top">
                            LexFutures Trophy
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                        </td>
                        <td valign="top">
                            LexFutures Prediction League Medal
                        </td>
                    </tr>
                </tbody>
            </table>
            #}
            
            <p>All amounts are represented in South African Rands. Non-cash prizes are not redeemable or exchangeable for cash. Trophies and prize medals are not transferable and are not represented to have any particular resale value.</p>
            
            <h3>Additional Terms</h3>
            
            <p>All determinations of the Organiser are final, including revision or interpretation of the Competition Rules.</p>
            <p>Participants agree to release and hold the Organiser, its Sponsors, their divisions, affiliates and subsidiaries, successors, heirs, assigns, officers and employees harmless from all actions, suits, claims and demands of any kind, which any participant, participant’s heirs, executors, administrators and assigns had, now have, or hereafter may have, by reason of any matter connected to the Prediction League, without limitation.</p>
            <p>The user names, actual names, and or affiliations of participants may be used in connection with the Prediction League such as on leader boards or in promotional materials which may appear outside of the Sponsors and Organiser sites, such as on social media. Personally identifiable information, such as email addresses and phone numbers, will only be used by the Organiser in connection with the operations of the Prediction League.</p>
            <p>The Organiser is not responsible for late, lost, illegible, incomplete, damaged or misdirected entries and reserves the right, in its sole discretion to disqualify any individual it finds to be cheating or tampering with an entry or the operation of the Prediction League or who is otherwise acting in contravention or in violation of these terms. The Organiser reserves the right to prosecute any fraudulent activities to the full extent of the law.</p>
            <p>Any notices or changes made to questions, scoring, or anything else related to a Prediction League will be posted to the Site or sent as an email and will serve as constructive notice with effect from the time of such posting or sending, whichever is the earlier.</p>

            
            
        </div>
    </div>
</div>

{% endblock maincontent %}
{% block footernavigation %}    
{% endblock footernavigation %}