{% extends 'AppBundle::frontbase.html.twig' %}
{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 tmargin20">
            <h1>{{pagetitle}}</h1>
        </div>
    </div>
        
    <div class="row ">
        <div class="col-xs-12 f-black lex-justify">
            
            <p>
                These terms govern use by any natural or juristic person (a "User") of the <a href="http://lexfutures.com/">http://lexfutures.com/</a> website including any page or sub-domain of the website 
                or any products of services offered by LexFutures (collectively referred to as "the Services"). Use of the Services is offered to you conditioned on your acceptance without modification of 
                all of the terms, conditions and legal notices contained below or incorporated herein (the "Terms"). Your use of the Services constitutes your agreement to all such Terms. Please 
                read these terms carefully and keep a copy of them for your future reference.
            </p>
            
            <p>
                Your attention is drawn to the warranties, indemnities and limitations on liability provided for in these terms and conditions.
            </p>
            
            <h3>INTERPRETATION</h3>
            
            <p>In these terms and conditions:</p>
            
            <p>
                "<strong>Data</strong>" means any electronic information or files displayed, generated or hosted in the Software including, but not limited to, text or word files, emails, 
                scanned files, PDF files, presentations, diagrams, images, charts, videos and audio files and the like;
            </p>
            <p>
                "<strong>we</strong>", "<strong>us</strong>" and similar pronouns means the Licensor unless the context clearly indicates otherwise;
            </p>
            <p>
                "<strong>you</strong>", "<strong>yours</strong>" and similar pronouns means the person accepting these terms and conditions, whether in your personal capacity as a User and/or in a 
                representative capacity on behalf of an organization that you represent; and
            </p>
            <p>
                "<strong>Your Material</strong>" means Data added or submitted to LexFutures or a LexFutures Site by you
            </p>
            <p>
                In these terms and conditions, headings are used for reference purposes only and shall not affect the meaning of the clauses to which they apply. References to persons include 
                an individual, a body corporate and an unincorporated association, partnership or joint venture of persons.
            </p>
            <p>
                In these terms and conditions, headings are used for reference purposes only and shall not affect the meaning of the clauses to which they apply. References to persons include 
                an individual, a body corporate and an unincorporated association, partnership or joint venture of persons.
            </p>
            
            <p>
                A reference to a Party includes that Party's successors and permitted assigns unless the context indicates otherwise.
            </p>
            
            <p>            
                Where any number of days is prescribed in this Agreement, same shall be deemed to be a reference to business days excluding weekends in the territory of the Licensor unless the context expressly 
                indicates otherwise and the computation of periods prescribed in terms of any number of days shall be reckoned exclusively of the first and inclusively of the last day.
            </p>
            <p>
                Words and expressions defined in any sub-paragraph shall, for the purposes of the paragraph of which that sub-paragraph forms part, bear the meaning 
                assigned to such words and expressions in that sub-paragraph.
            </p>
            <p>
                No provision herein shall be construed against or interpreted to the disadvantage of any Party by reason of such Party having or being deemed to have structured, drafted or introduced such provision.
            </p>
            
            <h3>ACCESS TO THE SERVICES</h3>
            
            <p>Access to the Services is provided to you subject to these terms and conditions. We cannot and do not guarantee that the Services will operate in accordance with your expectations or will be error free. If you are aware of any error in the Services, please contact us and we will endeavour to have it corrected. We cannot and do not guarantee the availability to you of any links that may be provided from the Services.</p>
            <p>You must comply with all applicable laws and regulatory requirements relating to your use of the Services. You must also comply with all reasonable instructions we give to you relating to the Services.</p>
            <p>You are responsible for any and all charges relating to your use of the Services.</p>
            <p>You must not use the Services to circulate, send or distribute any information or data that would be in contravention of any regulations or legislation including regulations or legislation governing financial services, money laundering or anti-terrorism or which is offensive, abusive, indecent, defamatory, obscene or menacing, in breach of confidence or any other laws.</p>
            <p>LexFutures warrants that it is authorised to offer the Services. You must not copy, modify, download, distribute or decompile the Services or any aspect of component thereof, nor attempt to do or enable any of the aforegoing acts.</p>
            <p>Except to the extent required to use the Services in accordance with these terms and conditions, you must not copy, store in any medium (including in any other website), distribute, transmit, re-transmit, broadcast, modify, or show in public any part of the Services or systematically extract material from the Services or in any way exploit commercially all or any part of the Services.</p>
            <p>Except to the extent that you are authorised or legally entitled to do so, you must not copy, store in any medium (including in any other website), distribute, publish, transmit, re-transmit, broadcast, modify, or show in public any Data (excluding Your Material) or in any way exploit commercially all or any part of any Data (excluding Your Material).</p>
            <p>We reserve the right to update, modify, restrict access to or close the Services or any part of it at any time.</p>
            
            <h3>MATERIAL PROVIDED BY YOU</h3>
            
            <p>You are solely responsible for Your Material added to or shared with LexFutures in the course of making use of the Services.</p>
            <p>You must ensure that adding Your Material is legal and that providing same to LexFutures complies with all laws and regulations, does not infringe the Intellectual Property Rights or other rights of us or any third party, is not defamatory, unreliable or misleading or otherwise objectionable and is free of bugs, worms, viruses, or other malicious code or software. You indemnify us to the fullest extent possible in law against any and all claims, losses, expenses, penalties and damages that we may sustain as a result of your breach of your above obligations.</p>
            <p>We are not a monitor or editor of any Data posted by you or provided to us to post to the Services by other persons and, accordingly, we do not accept any responsibility for that Data. We do not accept responsibility for (or in any way endorse) any views, opinions, material, information, or comments in any Data published on the Services or linked to via the Services by non-Client users.</p>
            <p>If we consider that any part of Your Material exposes us to the risk of a claim or complaint by any third party or any loss, we may block access to any or all of the Services, a LexFutures Site or any Data and remove any or all of the relevant part of Your Material. You must provide all reasonable assistance to us in this respect.</p>
            <p>You must not use the Services to advertise or sell any goods or services to other Software users without our authorisation.</p>
            <p>Except to the extent you are permitted by law or authorised to do so, you must not publish any information or personal data in relation to any third party.</p>

            <h3>SIGN-UP</h3>
            
            <p>You agree that the information you supply during the process of signing up for an account will be true, accurate and complete. LexFutures reserves the right to reject or terminate access to the Services where you provide false or misleading information during sign-up. You will be responsible for preserving the confidentiality of your chosen account password and other security credentials and will notify LexFutures of any known or suspected unauthorized use of your account. You agree to keep LexFutures informed of any change in the information you provided at the time of your initial sign-up. You agree to indemnify, defend and hold harmless the Licensor, its affiliates, and their officers, directors, employees, agents, licensors and suppliers, from and against any and all liabilities, fines, losses, expenses and damages resulting from the supply of any information during the registration process which is not true, accurate and correct or arising from your failure to update such information as required or from any activity related to your account (including negligent or wrongful conduct) by you or any other person accessing your User account.</p>
            
            <h3>GRANT OF LICENCE</h3>
            
            <p>Submission of any Service registration page or form does not form an agreement between us.  We reserve the right to activate the Services for users in our sole and unfettered discretion. Where we proceed to activate a Service, we grant you a non-exclusive and non-transferable licence to use the Services on these terms and conditions read with any specific terms and conditions applicable to that specific Service. You agree to not sub-licence or in any way exploit the Services for commercial gain under any circumstances and agree to access or use the Services for your own lawful purposes only.</p>
            <p>You agree not to copy, modify, translate, function map or create derivative works based on the Services, nor reverse assemble, de-compile or reverse engineer the Services, whether in whole or in part, or otherwise attempt to derive any source code subject to LexFutures&rsquo; copyright, nor shall you permit, whether directly or indirectly, the sale, lease, sub-licence, transfer or assignment of the Services; nor shall you remove or alter any proprietary notices, logos or labels on or in the Services or front end user interface.</p>
            <p>You acknowledge that improvements, changes or upgrades to the Services may be made from time to time in order to meet new user demands and keep pace with technological developments and that we may suspend or interrupt the operation of the Services for purposes of maintenance or making improvements, changes or upgrades thereto.</p>

            <h3>CHARGES AND COMMERCIAL TERMS</h3>
            
            <p>You are entirely responsible for any and all activities that occur on your account and you shall be strictly liable for all charges debited against your account whether or not such charges may be incurred by you or any other person, authorised or unauthorised, intentionally or unintentionally.</p>
            <p>It is your responsibility to familiarise yourself with our prevailing charges and prices, billing frequencies and payment terms for the Services. We reserve the right to modify our charges and payment terms at any time on not less than one calendar months&rsquo; notice to you. You agree that the spot exchange rate between the currency within which we publish pricing for any Services and the currency of your territory on date of invoicing shall be used for purposes of generating any invoice in your local currency.</p>
            <p>Telecommunications network service providers&rsquo; access charges for use of their networks may be varied by network operators from time to time and without prior notice to LexFutures. You will be responsible for any and all data and telecommunications charges incurred by you in relation to your use of the Services.</p>
            <p>All invoices are payable on presentation. Interest on outstanding payments shall accrue at the rate provided for in the relevant invoice and, where applicable, interest shall accrue daily and be compounded monthly in arrears.</p>

            <h3>INFORMATION SECURITY AND PRIVACY</h3>
            
            <p>These terms and conditions must be read in conjunction with our <a href="{{path("privacy-policy")}}">Privacy Policy</a> which shall be deemed to form part of these terms and conditions.</p>
            <p>It is your own responsibility to ensure that only authorised persons have access to information or data stored or communicated by you or any other person using the Services of LexFutures or any of its partners, affiliates or third-party service providers through adequate information security standards and procedures to be implemented and monitored by you. You agree that LexFutures shall not be responsible or liable for any unauthorised access to the information or data stored or communicated by you or any other person using the Services. You agree to notify LexFutures in writing of any unauthorized and/or fraudulent use of your username, password or any other security credential related to the Services. You agree to indemnify, and hold harmless LexFutures, its officers, directors, employees, affiliates and agents and any other service provider who furnishes Services to you in connection with the Services, from any and all claims, losses, damages and expenses by, or on behalf of, you or any third party for any unauthorized or fraudulent use of your username, password or other security credential.</p>
            <p>In performing our obligations under these terms and conditions, both you and we must each comply with any applicable data protection legislation. You should not register the email address or telephone number of any person to receive notifications or alerts via the Services unless you have the authority or that person&rsquo;s permission to do so.</p>
            <p>Where you choose to make use of any communication channel accessible within the Services, you agree, subject to the provisions of the any applicable law, to our right to intercept, block, filter, read, store and delete all such communications.</p>
            <p>You must ensure the confidentiality of your password and prevent any unauthorised persons from accessing the Services through the use of your password. You undertake to take all necessary steps to ensure that your own computing environment is free of any malicious programmes, including spyware and the like. You are entirely responsible for use of the Services by any person using your password or as a result of your email account being viewed or intercepted by another person, or by leaving an active user session unattended and you indemnify us against any losses, damages or claims suffered by us as a result of your failure to take adequate steps to protect the confidentiality of your user sessions, email accounts and User details including your username, password and other security credentials.</p>
            <p>If you know or suspect that an unauthorised person knows your password you must immediately notify us.</p>
            
            <h3>RESPONSIBLE USE OF THE SERVICES</h3>

            <p>You agree not to use the Services to process any data or files containing malicious code, viruses, Trojan horses and the like. You agree to indemnify and hold LexFutures, its affiliates, partners and third-party service providers and their respective directors, officers, employees and agents harmless from any claim or demand, made by any third party due to or arising out of data, Data or files you upload or process using the Services.</p>

            <h3>WARRANTIES</h3>
            
            <p>LexFutures warrants that it is entitled to render or to licence you to use the Services. The warranties set forth above are exclusive and in lieu of all other warranties, whether statutory, express or implied. LexFutures licences and supplies the Services "as is" and does not warrant that the operation thereof will be uninterrupted or error free. No warranty is given nor is to be implied as to the suitability of the Services for any particular purpose notwithstanding that any such purpose may be known or ought reasonably to have been known by LexFutures and all such warranties are expressly excluded from these terms and conditions.</p>
            <p>No express or implied condition, representation or warranty (whether statutory or otherwise) in respect of the Services or the Data (including as to condition, satisfactory quality, performance, or fitness for purpose) and all such conditions, representations and warranties are excluded except to the extent that their exclusion is prohibited by law. This section does not exclude or limit our duties to any client in respect of legal advice we provide in the course of a lawyer-client relationship.</p>

            <h3>MAINTENANCE</h3>
            
            <p>You acknowledge and agree that from time to time, scheduled or unscheduled system and software maintenance may be performed on any Services made accessible by LexFutures. Insofar as is reasonably possible, such maintenance will be carried out at times convenient to you and after the giving of notice to you. You agree that our standard maintenance services do not cover addressing any faults in the Services arising from you or your User&rsquo;s (including your guest Users) breach of the provisions of the Agreement; misuse or incorrect handling or operation of the Services by you, your agents, service providers and/or sub-contractors; any Force Majeure event or the actions, omissions or service interruptions of any utilities provider or third party service provider, including a telecommunications service provider; or electrical power failures including fluctuations in power or humidity control.</p>
            
            <h3>INTELLECTUAL PROPERTY</h3>
            
            <p>You acknowledge that any and all intellectual property rights embodied in or associated with the Services are, and will remain, the sole property of LexFutures or its own licensors. Nothing contained in these terms and conditions shall convey any title or proprietary rights to you in or over the Services other than expressly provided for herein.</p>
            
            <h3>LIABILITY AND INDEMNITY</h3>
            
            <p>LexFutures shall not be liable for any delay, failure, breakdown, damage, loss, cost, claim, penalty, fine or expense arising from use of the Services or any operator error on the part of you; fault in any hardware, third party software or software supplied to or obtained by you from any entity other than LexFutures; the intentional or negligent act or omission of any person not being a duly authorised employee, sub-contractor, agent of LexFutures or any third party not authorised to act in terms of these terms and conditions; and the actions, omissions or service interruptions of any utilities provider or third party service provider, including a telecommunications service, electrical service or a supplier of a telecommunications or electrical service, VOIP service, electronic communications service provider or electronic communications network service provider.</p>
            <p>IN NO EVENT SHALL LEXFUTURES BE LIABLE TO YOU FOR LOSS OF DATA, LOSS OF PROFITS OR FOR INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE PERFORMANCE OR USE OF THE SOFTWARE OR ANY THE LICENSOR SERVICE, OR ARISING FROM YOUR INCORPORATION OR ATTACHMENT OF ANY PROGRAM, PLUG-IN OR DEVICE TO THE SOFTWARE; CHANGES TO THE SERVICES BY YOU; FAILURE TO PROVIDE A SUITABLE OPERATING ENVIRONMENT; USE OF PRODUCTS OR MATERIALS NOT DIRECTLY OR INDIRECTLY SUPPLIED BY LEXFUTURES; ANY FAILURE TO BACKUP ANY DATA USED IN OR OTHERWISE ASSOCIATED WITH THE SERVICES; USE OF THE SERVICES FOR ANY OTHER PURPOSE OTHER THAN THAT FOR WHICH IT WAS DESIGNED; AND USE OF THE SERVICES ON ANY COMMUNICATIONS DEVICE OR SYSTEM OTHER THAN THE SPECIFIED OR RECOMMENDED PLATFORMS FOR THE SERVICES.</p>
            <p>It is understood and acknowledged by you that LexFutures Services are not intended to ensure, nor does LexFutures warrant, compliance with any common law, statutory or regulatory requirement or obligation to which you may be subject in your own jurisdiction. Use of the Services and Services is entirely at your risk.</p>
            <p>IN NO EVENT SHALL LEXFUTURES BE LIABLE FOR SPECIAL, EXEMPLARY, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR DELICTUAL DAMAGES SUFFERED BY YOU ARISING OUT OF OR IN CONNECTION WITH THESE TERMS AND CONDITIONS, INCLUDING LOSS OF DATA, LOSS OF PROFITS OR LOSS OF BUSINESS, AND INCLUDING WITHOUT LIMITATION ANY SUCH DAMAGES ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE SERVICES OR ANY LEXFUTURES SERVICE, UNAUTHORISED USE OF YOUR USER ID OR PASSWORD, THE MAINTAINING, HOSTING OR SUPPORTING OF THE SERVICES BY LEXFUTURES OR ANY PERSON APPOINTED BY IT, THE PERFORMANCE OF THE SERVICES, AND WHETHER OR NOT YOU WERE AWARE OR ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
            <p>YOU INDEMNIFY AND HOLD LEXFUTURES HARMLESS AGAINST ANY CLAIM BY ANY THIRD PARTY RELATING TO ANY MALFUNCTION OF THE SERVICES OR ARISING OUT OF THE USE OF THE SERVICES OR SERVICE BY YOU. LEXFUTURES SHALL FURTHERMORE HAVE NO LIABILITY TO YOU OR ANY THIRD PARTY FOR ANY BREACH OF A LEGAL OBLIGATION AS SPECIFIED ABOVE TO WHICH YOU OR ANY THIRD-PARTY MAY BE SUBJECT.</p>

            <h3>LIMITATIONS AND EXCLUSIONS OF OUR LIABILITY</h3>
            
            <p>From the Services you may be able to obtain access to websites operated by others. We do not endorse those other websites nor do we accept any responsibility for any damage or loss you may suffer arising out of access to those websites, including damage or loss arising from your use of Data, or other information found on those websites. These links are not monitored or maintained by us nor are we responsible for the Data of any third party website.</p>
            <p>Unless expressly stated otherwise in the terms and conditions or rules of the Services, our liability under or in connection with the Services, whether arising from negligence, breach of contract or otherwise is only to take such actions as are reasonably required (in our sole discretion) to correct, remove or delete Data including Data entered in error and we exclude all other liability under or in connection with the Services.</p>
            <p>We cannot and do not guarantee that Data downloaded from the Services will be free from viruses. We are not liable for any damages or losses due to any viruses or malicious code or software, defects or malfunctions in connection with the access or use of the Services, Your Material, or any Data. You must, for your own protection, use virus-checking software when accessing or and downloading Data via the Services. You must not upload or provide to us to upload to the Services any Data which you believe may contain a virus or other malicious code or software. You must virus check any Data which you intend to upload or provide to us to upload to the Services.</p>
            <p>Nothing in these terms and conditions excludes or limits our liability for fraud or for death or personal injury arising from our negligence or that of an employee of the Client or for any other matter in respect of which it would be unlawful to limit or exclude liability.</p>
            <p>Unless expressly stated otherwise, nothing on the Services or in the Data constitutes legal or other professional advice from LexFutures or other Users. You agree that the limitations and exclusions set out in this clause are reasonable having regard to all the relevant circumstances, including the fees and charges for using the Services relative to the levels of risk associated with Data stored within the Services.</p>

            <h3>ETHICAL STANDARDS</h3>
            
            <p>LexFutures strives to conduct business in accordance with the highest ethical principles and standards. The principles and standards to which hold ourselves include the principles and standards set out in this section.</p>
            <p>We shall endeavour to provide our Services with the appropriate degree of knowledge, skill, candor, diligence and thoroughness. We shall keep our Clients informed about the status of our Services consistent with their reasonable expectations.</p>
            <p>We shall not make false or misleading statements about our Services. Nor shall we knowingly make any false, misleading or unfairly disparaging statements about our competitors nor require our clients to refrain from dealing with our competitors. Any statement issued by LexFutures regarding our Software, Services or other capabilities, or the products, services or capabilities of any competitor, should have a factual, empirical basis that can be reviewed with the Client upon request.</p>
            <p>We provide a Software platform and ancillary support Services relating to the use of our Software, including the processing of information through our Software and user guidance, advice and support on how to make the most efficient use of our Software and Services. </p>
            <p>We will never accept, solicit or offer a bribe or endeavour to influence a Client through offering personal payments, benefits or other rewards nor engage in any practice that would constitute a corrupt practice in terms of the Foreign Corrupt Practices Act of 1977. We will not accept payments without legal cause nor will we operate as a deposit holding institution, a financial escrow service or a payment service provider for any reason whatsoever.</p>
            <p>Should a Client or any other person have reason to suspect that any member of our organization has infringed upon any of our ethical principle and standards, this matter should be reported to us immediately. We will take care to protect the identity of any person seeking to claim whistle blower protection status.</p>
            
            <h3>MISCELLANEOUS PROVISIONS</h3>
            
            <p>LexFutures reserves the right to modify these terms and conditions at any time by publishing the revised terms on its website and by making those revised terms and conditions accessible to you when you next login to the Services.</p>
            <p>Where a Client elects to terminate the use of the Services on any particular LexFutures Site we undertake to make available all Data associated with that LexFutures Site in a reasonable format, subject to payment in full by the Client of all fees and charges due to LexFutures in relation to that LexFutures Site and a reasonable Data export fee based upon our prevailing rates and charges.</p>
            <p>The Licensor&rsquo;s rights under these terms and conditions may be exercised as often as necessary; are cumulative and not exclusive of rights or remedies provided by law.</p>
            <p>If a provision of these terms and conditions is or becomes illegal, invalid or unenforceable in any jurisdiction, that will not affect the legality, validity or enforceability in that jurisdiction of any other provision of these terms and conditions; or the legality, validity or enforceability in other jurisdictions of that or any other provision of these terms and conditions.</p>
            <p>Nothing in these terms and conditions shall be deemed to constitute a partnership between us, nor constitute and appointment for either of us to act as the agent of the other for any purpose.</p>
            <p>A failure by us to enforce a provision of these terms and conditions or to take action in relation to a breach by you does not constitute a waiver and does not prevent us from subsequently enforcing that provision or from acting on such breach or any subsequent breach by you.</p>
            <p>Any notice or other communication given under or in connection with these terms and conditions must be in English. All other Data provided under or in connection with these terms and conditions must be in English or if not in English, accompanied by a certified English translation. In the case of translated Data, the English translation prevails unless the Data is a statutory or other official Data.</p>
            <p>Our rights and/or duties under these terms and conditions may be transferred to any person. You must not transfer any of your rights or duties under these terms and conditions without our prior written consent.</p>

            <h3>JURISDICTION</h3>

            <p>We recognize that in some countries, you might have legal rights as a consumer. If you are using the Services for a personal purpose, then nothing in these terms or any additional terms limits any consumer legal rights which may not be waived by contract.</p>
            <p>Some jurisdictions provide for certain warranties, like the implied warranty of merchantability, fitness for a particular purpose and non-infringement. To the extent permitted by law, we exclude all warranties.</p>
            <p>These terms and conditions shall be governed by, construed and interpreted in accordance with the laws of the country in which LexFutures legal entity with whom you contract is registered.</p>

            <h3>WHOLE AGREEMENT</h3>
            
            <p>These terms and conditions constitute the whole agreement between LexFutures and you and no side agreements and no representations or warranties other than those set out herein or incorporated by reference shall be binding on LexFutures.</p>
            
            
            
            
            
            
            
            
            
            
            
            
            
        </div>
    </div>
</div>

{% endblock maincontent %}
{% block footernavigation %}    
{% endblock footernavigation %}